:root {
    font-family: 'Roboto Mono', monospace;
    background-color: #FFDBD7;
}

body, ul, li, p {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFB2C1;
}

.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu > li {
    margin-left: clamp(10px, 0.9vw, 30px);
    font-size: clamp(16px, 1.5vw, 30px);
    list-style: none;
}

.menu > li > a {
    display: block;
    padding-left: clamp(3px, 0.9vw, 30px);
}

a {
    color: #13062F;
    text-decoration: none;
}

#logo-grande {
    width: clamp(130px, 25vw, 400px);
    height: auto;
}

.titulo {
    margin: 5vw 0 5vw 24vw;
    width: 50vw;
    height: max-content;
    padding-bottom: 2%;
    font-family: Arial;
    background: #FFB2C1;
    border-radius: 5px;
    box-shadow: 7px 7px 2vw #FFB2C1
}

.pal1-titulo {
    padding-top: 2vw;
    font-family: Arial;
    font-size: clamp(12px, 2vw, 30px);
    text-align: center;
}

.pal2-titulo {
    font-family: Arial;
    font-size: clamp(13px, 1.5vw, 25px);
    text-align: center;
}

.vitrine {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto 6%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}

.kit {
    padding: 10% 15%;
    margin: 5% 0;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #F7F1E1;
    box-shadow: 7px 7px 2vw #FFB2C1;
}

.img-caixa {
    width: -webkit-fill-available;
}

.titulo-kit {
    display: block;
    text-align: center;
    font-size: clamp(25px, 3vw, 30px);
    margin-bottom: clamp(10px, 2.5vw, 40px);
    color: #000000;
}

.pal-kit {
    text-align: left;
    display: block;
    font-size: clamp(20px, 2.5vw, 30px);
    color: #000000;
}

.preco
{
    text-align: center;
    display: block;
    font-size: clamp(16px, 4vw, 30px);
    color: #000000;
}

.botao {
    margin-top: 15%;
    border-radius: 1vw;
    padding: 5% 10%;
    cursor: pointer;
    border: none;
    text-align: center;
    background: #7ee5fd;
    box-shadow: 7px 7px 2vw #d5d0c2;
}

.botao:hover {
    background-color: #a8ebfa;
}

.botao-pal {
    font-size: clamp(20px, 2vw, 27px);
    color: #13062F;
}

@media (max-width: 700px)
{
    .rodape {
        height: 25vw;
    }

    .menu > li {
        margin-top: 5%;
    }
}

footer {
    margin-top: 12vw;
    padding: 3%;
    background: #FFB2C1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tit-rodape
{
    text-align: left;
    font-weight: 600;
    font-size: clamp(12px, 1.7vw, 35px);
    color: #13062F;
}

.pal-rodape {
    text-align: left;
    font-family: 'Arial';
    font-size: clamp(10px, 1.5vw, 30px);
    color: #13062F;
}

#logos-rede
{
    display: flex;
}

.fig-rede
{
    margin: 5% 3%;
}

.img-rede
{
    width: 3vw;
    height: 3vw;
}

#redes-sociais, #contatos, #redirecionamento
{
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: space-around;
}

.logo-rodape img {
    width: 100%;
    height: auto;
}

.logo-rodape
{
    padding: 5% 0;
    width: clamp(200px, 25%, 700px);
}

.logo-pequena 
{
    margin-top: 1vw;
    width: -webkit-fill-available;
    height: 6vw;
}

#caixa-registro
{
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#caixa-conteudo
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#registro
{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 5% 10%;
    background-color: #F7F1E1;
    border-radius: 2vw;
    box-shadow: 0 7px 2vw #FFB2C1;
}

#registro > h2
{
    font-weight: 800;
    font-size: clamp(16px, 2vw, 30px);
    margin: 0;
}

#cadastro
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3% 0;
}

.caixa
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    margin-left: 5%;
}

.caixa > input
{
    width: 100%;
    border: none;
    border-radius: 0.5vw;
    padding: 7%;
    box-shadow: 7px 7px 1vw #d5d0c2;
    outline: none;
    box-sizing: border-box;
}

.caixa > label
{
    margin: 1% 0 4% 0;
}

.botao-login
{
    background-color: #7ee5fd;
    box-shadow: 7px 7px 1vw #d5d0c2;
    width: 70%;
    padding: 3%;
    margin: 5% 3%;
    border: none;
    border-radius: 5px;
    font-size: clamp(15px, 2vw, 27px);
}

.botao-login:hover
{
    background-color: #a8ebfa;
}

.container > h2
{
    font-size: 32px;
    padding: 50px 0;
    text-align: center;
}

#tab-conteudo
{
    padding: 0 10%;
    margin: 0 auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

table
{
    margin: 5% 0;
    border-radius: 8px;
    background-color: #F7F1E1;
    box-shadow: 7px 7px 1vw #FFB2C1;
    border-collapse: collapse;
}

.tab-nome > th
{
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
}

.tab-preco > td
{
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    padding: 2%;
}

.tab-lista > td
{
    padding: 30px 30px;
}

.tab-botao > td
{
    padding: 5%;
}

.tab-botao > td > button
{
    width: 100%;
    padding: 14px 0;
    background: #7ee5fd;
    box-shadow: 7px 7px 1vw #d5d0c2;
    border: none;
    font-size: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.tab-botao > td > button:hover
{
    background-color: #a8ebfa;
}

.container > #video
{
    height: clamp(200px, 50vw, 552px);
    align-items: center;
    padding: 0 10%;
}