
html
{
    font-family: Arial;
    background-color: #FFDBD7;
}



body,ul, li, p 
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
    list-style: none;
    overflow-x: hidden;
    
}

.header 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFB2C1;
    
}

.menu 
{
    display:flex;

}

.menu li 
{
    margin-left: 20px;

}

menu li a 
{
    display: block;
    padding: 10px;
}

a 
{
    color: #13062F;
    text-decoration: none;
}

#logo-grande
{
    width: 25vw;
    height: 4vw;
}

.titulo
{
    margin-top: 5vw;
    margin-left: 24vw;
    width: 50vw;
    height: 8vw;

    background: #FFB2C1;
}

.pal1-titulo
{
    font-family: 'Arial';
    font-size: 2vw;
}

.pal2-titulo 
{
    font-family: 'Arial';
    font-size: 1.5vw;
    
    color: #000000;   
}

.vitrine 
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.kit
{
    margin: 5vw 2vw 0vw;
    padding: 4vw;
    width: max-content;
    height: max-content;
    
    background: #F7F1E1;
}

.caixa-misteriosa
{
    width: max-content;
    height: max-content;
}

.img-caixa
{
    width: 18vw;
    height: 18vw;
}

.kit-descricao
{
    width: 18vw;
}

.titulo-kit
{
    display: block;
    text-align: center;
    font-family: 'Arial';
    font-size: 3vw;
    margin-bottom: 2vw;

    color: #000000;
}

.pal-kit 
{
    display: block;
    font-family: 'Arial';
    font-size: clamp(16px, 2vw, 19px);

    color: #000000
}

.kit-botao
{
    width: max-content;
    padding: 3vw 0 0 2vw;
}

.botao
{
    display: block;
    width: max-content;
    border-radius: 1vw;
    padding: 1vw 3vw;
    cursor: pointer;
    border: none;    
    text-align: center;
    font-family: 'Arial';

    background: #7ee5fd;
}

.botao:hover 
{
    background-color: #a8ebfa;
}


.botao-pal
{   
    font-family: "Arial";
    font-size: 2vw;

    color: #13062F;
}

/* .botao 
{
    background-color: #F6EDA0;
    display: block;
    width: 90%;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    padding: 15px 3px;
    
} */

.rodape
{
    margin-top: 12vw;
    width: 100vw;
    height: 8vw;
    background: #FFB2C1;
    display: flex;
}

.pal-rodape 
{
    text-align: center;
    font-family: 'Arial';
    font-size: 2vw;

    color: #13062F;
}

.logo-pequena 
{
    width: 25vw;
    height: 6vw;
}

#caixa-registro
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#caixa-esquerda
{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#caixa-direita
{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#registro
{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8% 10%;
    background-color: azure;
    border-radius: 2vw;
    box-shadow: 0 0.5vw 1vw #FFB2C1;
}

